body { font: "Times New Roman", Times, serif;
  background-image: url('/img/background2.jpg');
  background-size: 150vw 150vh;
  resize: both;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* Add styles to the form container */
.form-container {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#messages{
  background-color: #FFFFFF;
}

#chessBoard{
  font-size: 3em;
}

#chessBoard td{
    width: 1.8em;
    height: 1.8em;
}

#chessBoard tr:nth-child(odd) td:nth-child(even),
#chessBoard tr:nth-child(even) td:nth-child(odd){
    background-color: rgb(160,82,45);
    border: 1px solid black;
}
#chessBoard tr:nth-child(even) td:nth-child(even),
#chessBoard tr:nth-child(odd) td:nth-child(odd){
    background-color: rgb(222,184,135);
    border: 1px solid black;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

.navbar {
  background-color: #333;
  bottom: 0;
  width: 100%;
}


.button1 {
  background-color: red; /* Blue */
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  margin: 0 auto;
  cursor: pointer;
  width: 200px;
  justify-content: center;
}

.tag1 {
  border-radius: 15px;
  font-size: 1.3em;
  background-color: black;
  margin: 0 auto;
  width: 15%;
  text-align:center;
  padding: 10px 32px;
}

.sidebar {
  display: inline-block;
  background-color: grey;
  right: 10%;
  height: 400px;
  width: 200px;
}

.blueText {
    background-color: #00FFFF;
}

.greenText {
    background-color: #00FF00;
}

buttonbox {
  background-image: url("background.jpg");
  right: 0;
  width: 17%;
  background-color: #1111;
  position: fixed;
  height: 100%;
  margin-top: 15px;
  overflow-wrap: break-word;
  border-style: solid;
  border-width: 2px;
}
#message{
  font-size:1.5em !important;
}
